span.date{
	margin-left:1em;
	display:inline-block;
	float:right;
	color:#AAAAAA;
}
h2{
	margin-bottom:0.3em;
}
@media all and (max-width: 50em){
	div.content{
		text-align:center;
	}
	h2{
		display:block;
	}
	span.date{
		position:absolute;
		float:none;
		margin:0;
		display:block;
		font-size:0.8em;
		top:1.2em;
		right:0.5em;
	}
	img.icon{
		float:none !important;
		display:block;
		margin-left:auto;
		margin-right:auto;
		height:4em;
		width:auto;
	}
}
