#mdArticle > p > img{
	display:block;
	margin:1.5em auto;
	max-width:100%;
	height:auto;
	border:none;
	padding:0;
}

code{
	font-family:monospace;
	padding-left:2em;
	color:#80FF80;
	display:block;
	white-space: nowrap;
	overflow-x:auto;
	margin-top:0.2em;
	margin-bottom:0.2em;
	text-align:left;
}

table, tr, th, td{
	border:1px solid #AAAAAA;
}

/* IN BASIC MODE, IMGs GET THE BLOCKIMG CLASS BECAUSE #mdArticle > p > img MAY NOT BE SUPPORTED */
img.blockImg{
	display:block;
	margin:1.5em auto;
	max-width:100%;
	height:auto;
	border:none;
	padding:0;
}