body{
	background-color:#0f0919;
	font-size:0.9em;
}
#fragment{
	animation:none;
}
#nav{
	background-color:#a3e2ff;
}
div.content{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	opacity:1 !important;
	visibility:visible !important;
}
div.stripe div.content{
	padding-bottom:1.6em;
	border-bottom: 0.1em solid #2e5869;
}
#article_comments div.comment{
	border-bottom:1px solid #606060;
	font-size:1em;
}
#footer{
	margin-top:10em;
}
@media all and (min-width:76em){
	div.compactList *{
		text-align:left;
	}
}