body{
	background-color:#061d26;
}
#fragment{
	font-size:0.9em;
}
#nav{
	background-color:#7abbd6;
}
div.content{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	opacity:1 !important;
	visibility:visible !important;
}
div.stripe div.content{
	padding-bottom:1.6em;
	border-bottom: 0.1em solid #2e5869;
}
@font-face{
	font-family: BebasNeue;
	src:url('bebasneue_basic.eot');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url("roboto300_basic.eot");
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url("roboto400_basic.eot");
}
