@font-face {
	font-family: ForteLine;
	font-style: normal;
	src: url("forte-line.woff") format("woff");
}
#greetsContainer{
	margin-top:0em;
}
#bigass{
	font-family:"ForteLine";
	font-size:7em;
	text-align:center;
	overflow-x:hidden;
	white-space:nowrap;
}
.basic #bigass{
	font-family:"BebasNeue";
}
.basic #intro{
	font-size:1em;
}
#leftPanel{
	display:block;
	float:left;
	width:20em;
	padding-right:0.8em;
	border-right: 0.05em solid rgba(128,128,128,0.3);
	margin-right:0.8em;
	height:100%;
}
.basic #leftPanel{
	width:30%;
	border:none;
	padding:0;
	margin:0;
}
#photo_mobile{
	width:100%;
	height:15em;
	background:url('photo_small.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 20%;
	display:none;
	margin-top:1em;
	margin-bottom:1.5em;
}
.basic #photo_mobile{
	display:none;
}
#photo_desktop{
	width:100%;
	height:auto;
}
#sections{
	margin-top:0.5em;
}
#sections a{
	display:block;
	text-align:right;
	font-size:0.85em;
	line-height:2.2em;
	text-transform:uppercase;
	margin-bottom:0.2em;
	text-decoration:none;
	opacity:0.65;
	border-bottom: 0.05em solid rgba(255,255,255,0.2);
	letter-spacing:0.38em;
	transition:all 0.1s ease-out;
}
#sections a:hover, #sections a:focus, #sections a:active{
	opacity:1;
	letter-spacing:0.7em;
	transition:all 0.1s ease-out;
}
#rightPanel{
	display:block;
	float:right;
	width:calc(100% - 22em);
	height:100%;
}
.basic #rightPanel{
	width:68%;
}
#intro{
	font-size:1.1em;
}
#latestPostContainer{
	margin-top:2em;
	position:relative;
}

@media all and (max-width:70em){
	#bigass{
		font-size:10vw !important;
	}
}
@media all and (max-width:50em){
	#greetsContainer{
		margin-top:1.5em;
	}
	#leftPanel, #rightPanel{
		float:none;
		width:100%;
		border:none;
		margin:1.5em 0;
		padding:0;
	}
	#sections a{
		opacity:1 !important;
		text-align:center;
		font-size:0.95em;
		line-height:3.2em;
	}
	#photo_desktop{
		display:none;
	}
	#photo_mobile{
		display:block;
	}
	.basic #leftPanel, .basic #rightPanel{
		width:100%;
	}
	.basic #photo_desktop{
		display:block;
	}
	.basic #photo_mobile{
		display:none;
	}
	#intro_title{
		text-align:center;
		margin-top:1.5em;
	}
	#intro{
		font-size:1em;
	}
}
@media all and (max-width:40em){
	#greetsContainer{
		display:none;
	}
}
@media all and (max-width:30em){
	div.stripe{
		padding:0.8em 0;
	}
	#photo_mobile{
		height:13em;
	}
}
