#outerGradient,#innerGradient{
	display:block;
	margin:0;
	border:none;
}
#outerGradient{
	background: linear-gradient(135deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); 
	backdrop-filter:blur(1rem);
	animation:boxShadowFade 0.8s ease-out;
	padding:1.6em 0;
}
#innerGradient{
	/*background:linear-gradient(135deg, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%);*/
	height:100%;
	min-height:40em;
	position:relative;
	display:flex;
	align-items: stretch;
}
#innerGradient div.content{
		width:100%;
		max-width:80em;
	}

@keyframes boxShadowFade{
	0%{box-shadow:inset 0 0 70em 30em rgba(255,255,255,0.7);}
	100%{box-shadow:inset -50em -50em 70em 30em rgba(255,255,255,0);}
}

#photoArea,#introArea{
	position:relative;
}
#photoArea{
	background:url('photo_home.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 10%;
	top:0; right:0;
	width:40%;
}
#introArea{
	top:0; left:0;
	width:60%; height:auto;
	padding:1em;
	box-sizing:border-box;

}
#bigAss{
	font-family:'Titillium',sans-serif;
	font-size:5.1em;
	font-weight:700;
	line-height:0.82em;
	margin:0.15em 0 1.2em 0;
	text-shadow: 0.02em 0.02em 0.07em rgba(0,0,0,0.3);
}

#sections{
	margin-top:1.5em;
	margin-bottom:1em;
	text-align:center;
	padding:0.2em 0;
}
#sections a{
	margin-right:0.3em;
	display:inline-block;
	font-size:1.23em;
	font-family:'Titillium';
	transition:all 0.2s;
}
#sections a:hover{
	text-shadow: 0 0 0.4em #ffffff;
	transition:all 0.2s;
}

#featArea{
	/*background: linear-gradient(135deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 100%);*/
}
#featArea > h2{
	padding-top:0.6em;
	text-align:center;
}

#basicImage{
	display:none;
}


/*@media all and (min-width:80em){
	#bigAss{
		text-shadow:0 0.1em 0.5em rgba(0,0,0,0.2);
	}
	#introText{
		text-shadow:0 0 0.3em rgba(0,0,0,0.4);
	}
	#photoArea{
		box-shadow: 0 0 8em rgba(0,0,0,0.2);
	}
}*/

@media all and (max-width:50em){
	#outerGradient{

	}
	#innerGradient{
		display:block;
		min-height:auto;
	}
	#photoArea,#introArea{
		width:auto; height:auto;
		float:none;
	}
	#photoArea{
		height:23em;
	}
	#bigAss{
		font-size:5em;
		margin:0.2em 0 0.5em 0;
	}
}
@media all and (max-width:30em){
	#bigAss{
		font-size:4em;
	}
}
