#photoArea{
	background:url('photo_small.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 80%;
}
#basicPhoto{
	width:25em; 
	height:auto;
	float:left;
	margin:0 0.5em 0.5em 0;
}
#cubesArea{
	text-align:center;
	background-color:rgba(0,0,0,0.4);
	background:linear-gradient(rgba(0,0,0,0.5)0%,rgba(0,0,0,0)300%);
	margin-top:20em;
	padding:1em 0;
}
#introText{
	margin:1em;
}
.cubeContainer {
	width:10em; height:10em;
	position: relative;
	perspective:15em;
	overflow:visible;
	z-index:9;
}
.cubeContainer a{text-decoration:none;}
.cubeContainer > .text{
	color:#FFFFFF;
	z-index:1;
	text-align:center;
	font-size:2em;
	line-height:5em;
	text-shadow:0 0 0.7em rgba(0,0,0,0.4);
	transition:text-shadow 0.5s;
	font-family:'BebasNeue';
}

.cubeContainer:hover > .text, .cubeContainer:focus > .text{
	text-shadow:0 0 1.5em rgba(255,255,255,0.5);
}

.cubeContainer > .cube {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transform:translateZ(-5em);
	animation:spin 50s infinite linear;
	z-index:-1;
}
.basic .cube{
	display:none;
}

.cubeContainer > .cube > * {
	width:10em;
	height:10em;
	display:block;
	position:absolute;
	box-sizing:border-box;
}

.cubeContainer > .cube >*:nth-child(1){transform: rotateY(0deg) translateZ(4.99em);}
.cubeContainer > .cube >*:nth-child(2){transform: rotateX(180deg) translateZ(4.99em);}
.cubeContainer > .cube >*:nth-child(3){transform: rotateY(90deg) translateZ(4.99em);}
.cubeContainer > .cube >*:nth-child(4){transform: rotateY(-90deg) translateZ(4.99em);}
.cubeContainer > .cube >*:nth-child(5){transform: rotateX(90deg) translateZ(4.99em);}
.cubeContainer > .cube >*:nth-child(6){transform: rotateX(-90deg) translateZ(4.99em);}

@keyframes spin{
	0%{transform: translateZ(-5em) rotateY(0deg)rotateX(0deg);}
	100%{transform: translateZ(-5em) rotateY(360deg)rotateX(720deg);}
}

.cubeContainer{
	font-size:0.85em;
	margin:2.5em 3.5em;
	display:inline-block;
}

#basicLinks{
	margin-top:0.5em;
	text-align:center;
}
#basicLinks a{
	display:inline-block;
	font-size:1.2em;
	border-left:1px solid #2e5869;
	border-right:1px solid #2e5869;
	padding:0 0.5em;
}

@media all and (max-width:70em){
	.cubeContainer{
		font-size:0.8em;
		margin:2.5em;
	}
}
@media all and (max-width:50em){
	#basicPhoto{
		width:15em;
	}
	#cubesArea{
		margin-top:13em;
	}
	.cubeContainer{
		font-size:0.7em;
		margin:1.5em;
	}
}
@media all and (max-width:40em){
	.cubeContainer{
		font-size:0.6em;
	}
	#introText{
		font-size:0.85em;
	}
}
@media all and (max-width:30em){
	.cubeContainer{
		font-size:0.5em;
	}
}
