#lightbox{
	background-color:rgba(0,0,0,0.4);
	position:fixed;
	z-index:2;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:auto;
}
#lbimg{
	margin:auto;
	position:absolute;
	top:0; left:0; bottom:0; right:0;
	cursor:pointer;
}

#lbimg.fullWidth{
	width:100%;
	height:auto;
}
#lbimg.fullHeight{
	width:auto;
	height:100%;
}

