/*
	FONTS
*/
@font-face {
	font-family: BebasNeue;
	src: url("bebasneue.woff") format("woff");
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url("roboto300.woff") format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url("roboto400.woff") format('woff');
}
/*
	HEADINGS, TITLES
*/
h1,h2,h3,h4,h5,h6{
	font-family:'BebasNeue', sans-serif;
	color:#FFFFFF;
	margin:0.2em 0 0.2em 0;
	font-weight:300;
	line-height:1em;
}
h1{
	font-size:2.5em;
}
h2{
	font-size:2.1em;
}
h3{
	font-size:2em;
}
h4{
	font-size:1.7em;
}
h5{
	font-size:1.5em;
}
h6{
	font-size:1.3em;
}
/*
	UTILS
*/
div.clear{
	clear:both;
	margin:0;
	padding:0;
	border:none;
	height:0 !important;
	overflow:hidden;
}
iframe{
	border:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
.clickOverlay{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	color:rgba(0,0,0,0);
	border:none;
	margin:0;
	padding:0;
	cursor:pointer;
	z-index:99;
}
span.bold{
	font-weight:400;
}
#resp_test{
	width:0;
	position:fixed;
	z-index:0;
}
/*
	BASIC PAGE STYLING AND POSITIONING
*/
html,body{
	border:none;
	margin:0;
	padding:0;
	color:#FFFFFF;
	font-weight:300;
	font-family:'Roboto',sans-serif;
	line-height:1.55;
}

#background{
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	background-color:#0f0919;
}
#page{
	position:fixed;
	z-index:2;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
}
#fragment,.oldFragment{
	position:absolute;
	width:100%;
	transform-origin:50vw 50vh;
}
#fragment{
	animation:warpIn 0.35s ease-out;
}
.oldFragment{
	animation:warpOut 0.25s ease-in;
}
/*SHRINK animations used in desktop version*/
@keyframes warpIn{
	0%{opacity:0; transform:scale3d(0.8,0.8,1);}
	100%{opacity:1; transform:scale3d(1,1,1);}
}
@keyframes warpOut{
	0%{opacity:1; transform:scale3d(1,1,1);}
	100%{opacity:0; transform:scale3d(1.2,1.2,1);}
}
/*FADE IN/OUT used in mobile version, because it's lighter*/
@keyframes fadeIn{
	0%{opacity:0; transform:translate(0,1.2em);}
	60%{opacity:0.2; transform:translate(0,0.3em);}
	100%{opacity:1; transform:translate(0,0);}
}
@keyframes fadeOut{
	0%{opacity:1; transform:translate(0,0);}
	60%{opacity:0.2; transform:translate(0,-0.9em);}
	100%{opacity:0; transform:translate(0,-1.2em);}
}
/*
	NAV MENU
*/
#nav{
	background-color:#a3e2ff;
	box-shadow:0 0 1em rgba(0,0,0,0.6);
	width:100%;
	margin-bottom:4em;
	text-align:right;
	z-index:999;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none !important;
}
#logo{
	font-size:2.5em;
	line-height:1.72em;
	font-family:'BebasNeue', sans-serif;
	color:#000000;
	opacity:0.77;
	display:inline-block;
	width:auto;
	margin-right:2em;
	float:left;
}
#nav a{
	margin:0;
	padding:0;
	height:100%;
	line-height:3.91em;
	display:inline-block;
	text-align:center;
	color:#000000 !important;
	padding-left:1em;
	padding-right:1em;
	text-decoration:none !important;
	font-family:'BebasNeue', sans-serif;
	font-size:1.1em;
	font-weight:400;
	text-decoration:none !important;
	transition: background-color 0.2s;
}
#nav a:hover{
	background-color:rgba(0,5,20,0.3);
}
#nav a:active{
	background-color:rgba(0,5,20,0.4);
}
/*
	PAGE CONTENT AND STYLE
*/
div.stripe{
	width:100%;
	display:block;
	margin:0.8em 0;
	padding:1.8em 0 1.8em 0;
	clear:both;
	position:relative;
}
div.content{
	width:100%;
	max-width:70em;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	position:relative;
}
div.stripe > div.content{
	padding-bottom:1.6em;
	border-bottom: 0.15em solid rgba(89,168,201,0.3);
}
div.section{
	margin-bottom:1.8em;
	clear:both;
}
p{
	text-align:justify;
	margin:0;
	padding:0;
	clear:both;
	color:rgba(255,255,255,0.92);
}
a{
	color:#FFFFFF;
	font-weight:400;
	text-decoration:underline;
	cursor:pointer !important;
}
h2 a{
	text-decoration:none;
}
h2 a:hover, h2 a:active{
	text-decoration:underline;
}
img.icon, img.articleIcon{
	float:left;
	display:inline-block;
	width:6em;
	height:auto;
	margin:0 1em 0.1em 0;
	cursor:pointer;
}
a.downloadButton{
	display:inline-block;
	font-size:1.32em;
	padding:0.3em 0.75em;
	margin:0.5em 0.8em 0.5em 0;
	border:0.1em solid #FFFFFF;
	border-radius:0.12em;
	transition: all 0.2s;
	text-decoration:none;
	font-weight:400;
}
a.downloadButton:hover, a.downloadButton:focus, a.downloadButton:active{
	color:#000000 !important;
	background-color:#FFFFFF !important;
	font-weight:400;
}
a.downloadButton > *{
	margin-bottom:0.35rem;
}
a.downloadButton > div.small{
	font-size:0.67em; 
	line-height:1em;
	font-weight:300;
}
/*
	ARTICLE LIST (articleEntry rules only apply to the full version)
*/
span.date{
	margin-left:1em;
	display:inline-block;
	float:right;
	color:#AAAAAA;
}
div.articleEntry{
	position:relative;
	height:30em;
	overflow:hidden;
}
div.compactList div.stripe{
	padding:0.4em 0;
}
div.articleEntry > div.background{
	position:absolute;
	top:0; left:0;
	width:100%; height:100%;
	z-index:1;
	background-size:cover;
	background-position:center center;
}
div.articleEntry > div.details{
	z-index:2;
	position:absolute;
	left:0; bottom:0;
	width:100%;
	box-sizing:border-box;
	padding:1.5em;
	max-height:20em;
	background-color:rgba(0,0,0,0.6);
	overflow:hidden;
}
div.description{
	display:inline;
	width:auto;
}
div.articleEntry > div.details > div.description{
	display:block;
	width:100%;
}
/*
	PAGE LOADING ANIMATION
*/
.loading {
	animation: load 0.3s infinite linear;
	color:#FFFFFF;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:20vh;height:20vh;
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AYeDjELvgeXHgAAAkpJREFUeNrt3D9LVXEYB/DnREKBVIKItPQeLGwXqr1X4dbUGNJYryAoWlprcaghosXBwcE9zLUkbjQoNOTTcI/y6ybUoHA9z+eznHsHr/D9Pufce/5GAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHAKOhFMv8y8FBGzEXHYdd1IIvUG4HX2TvuzL4j3fMxAvzwwADXN9st9A1DTQr/cMwA1Xe+XXw1ATYv9cscA1NsDmG/efjIA9dxsXm8bgHqWm9db4qj3FfCxPwa0L42aA3Bk/Sw+31fAdJffbv7fSqTeADxttgDzEqk3AKO+/M9n9T98BUxv+UsRMde/fSmRegPwyua/bvkzTfkbEqk3AE+aAbgjkbr7/rvSqFf+WjMA9yVSq/wrTflfJFJvAN41A3BXIrXKX2nKfy+RWuV3mfmjGYA5qdQagA9N+Q8lUqv8B035mxKpVf6tpvyDzLwslTrl38g/3ZZKnfKv9Wv8kVWp1Cp/1JT/WCq1Nvvtmv9cKjV/8GVmvpBKzV09m/1CxXcTB3n84CtU/srE4d0Du3o1ir86cVYvM3PTQZ4am/u1/Jtj+wMvfmbiGr7jU7rO6g27+KWJS7ePr+RxMcdwS1/ub9canVD8rmv4hlX2fGbey8xHzS3aJ9k4z5dud4rONxFxGONHsS3E+IFMi//4s90Y3671rOu6b1aX8z0A/2M/M9czc3Vot2ldNALxKyJ+xvghjHsxfhTbTowfyLQdEVtd130X00D33aUAAAAAAAAAAADAQPwGJdyqV10WfekAAAAASUVORK5CYII=');
	background-size:100% 100%;
}
@keyframes load {
	from {transform: rotate(0deg);}
	to   {transform: rotate(359deg);}
}
/*
	COMMENTS
*/
#article_comments textarea{
	background-color:rgba(255,255,255,0.7);
	width:100%;
	border:none;
	margin:0;
	padding:0;
	resize: vertical;
	overflow:auto;
}
#article_comments textarea:focus, #article_comments textarea:active{
	background-color:#FFFFFF;
}
#article_comments input[type="button"]{
	display:block;
	min-width:8em;
	margin:0.5em 0 0 auto;
}
#article_comments .loading{
	width:3em;
	height:3em;
}
#article_comments div.commentsArea{
	margin-top:0.2em;
}
#article_comments div.comment{
	border-bottom:1px solid rgba(255,255,255,0.12);
	font-size:0.9em;
	padding:0.6em 0;
	margin-bottom:0.3em;
}
#disqus_thread{
	background-color:#FFFFFF;
	color:#000000;
	padding:1em;
}
/*
	LIGHTBOX
*/
#lightbox{
	background-color:rgba(0,0,0,0.4);
	position:fixed;
	z-index:2;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:auto;
}
#lbimg{
	margin:auto;
	position:absolute;
	top:0; left:0; bottom:0; right:0;
	cursor:pointer;
}

#lbimg.fullWidth{
	width:100%;
	height:auto;
}
#lbimg.fullHeight{
	width:auto;
	height:100%;
}
/*
	SHARE LINKS
*/
a.share{
	display:inline-block;
	width:2em;height:2em;
	background-size:100% 100%;
	margin:0.15em;
	vertical-align:middle;
}
.share_fb{
	background-image:url('fb.png');
}
.share_tw{
	background-image:url('tw.png');
}
.share_gplus{
	background-image:url('gplus.png');
}
input[type="text"].share{
	display:inline-block;
	margin:0.2em;
	width:8em;
	height:1.5em;
}
/*
	MUH RESPONSIVE
*/
@media all and (max-width:72em) and (min-width:50em){
	div.content{
		width:95%;
	}
	#nav div.content{
		width:100%;
	}
	#logo{
		margin-left:0.5em;
	}
}
@media all and (max-width: 50em){
	#nav{
		box-shadow:0 0 0.5em rgba(0,0,0,0.4);
		text-align:center;
		font-size:0.8em;
		margin-bottom:1em;
		position:fixed;
		top:0;
		width:100%;
		overflow:hidden;
		max-height:4.2em;
		transition:max-height 0.4s ease-out;
	}
	#nav a{
		font-size:1.7em
		display:block !important;
	}
	#nav.expanded{
		max-height:30em;
	}
	#fragment,.oldFragment{
		margin-top:4em;
	}
	#nav a, #logo{
		width:100%;
		height:auto;
		padding:0;
	}
	#logo{
		background:url('menu.png');
		background-repeat:no-repeat;
		background-size: auto 1.6em;
		background-attachment: fixed;
	}
	#nav a{
		border-top:1px solid rgba(0,0,0,0.3);
		clear:both;
		line-height:2em;
	}
	#fragment{
		animation:fadeIn 0.25s linear;
	}
	.oldFragment{
		animation:fadeOut 0.25s linear;
	}
	div.content{
		max-width:95%;
	}
	#nav div.content{
		max-width:100%;
		width:100%;
	}
	div.basicArticleEntry{
		text-align:center;
	}
	span.date{
		position:absolute;
		float:none;
		margin:0;
		display:block;
		font-size:0.8em;
		top:1.2em;
		right:0.5em;
	}
	div.articleEntry span.date{
		font-size:1em;
		top:0.5em;
		right:0.5em;
		color:#FFFFFF;
		text-shadow:0 0 0.5em #000000,0 0 1em #000000,0 0 1em #000000,0 0 3em #000000,0 0 3em #000000;
	}
	img.articleIcon{
		float:none !important;
		display:block;
		margin:0 auto;
		height:4em;
		width:auto;
	}
	div.articleEntry{
		height:20em;
	}
	div.articleEntry > div.details{
		max-height:12em;
		padding:1em;
	}
	div.articleEntry > div.background{
		box-shadow: inset 0 1em 4em -4em #000000;
	}
	.resp_hidden{
		display:none !important;
	}
	#resp_test{
		width:1em;
	}
	a.downloadButton{
		display:block;
		margin:0.5em;
	}
}
@media all and (min-width: 50em){
	.resp_only{
		display:none !important;
	}
}
@media all and (max-width: 30em){
	a.downloadButton{
		font-size:1em;
	}
}
@media all and (max-width: 23em){
	div.articleEntry{
		font-size:0.8em;
	}
}
