a.share{
	display:inline-block;
	width:2em;height:2em;
	background-size:100% 100%;
	margin:0.15em;
	vertical-align:middle;
}
.share_fb{
	background-image:url('fb.png');
}
.share_tw{
	background-image:url('tw.png');
}
.share_gplus{
	background-image:url('gplus.png');
}
input[type="text"].share{
	display:inline-block;
	margin:0.2em;
	width:8em;
	height:1.5em;
}
