div.gallery{
	padding:1em 0;
	width:100%;
	white-space:nowrap;
	overflow-x:auto;
}
img.thumbnail{
	display:inline-block;
	height:6em;
	width:auto;
	margin:0 0.5em 0 0;
	cursor:pointer;
}
img.thumbnail:hover, img.thumbnail:active{
	border-color:#FFFFFF;
}
